<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="../js/vue.js"></script>
</head>
<body>
    <!-- 
        当使用v-model绑定之后就可以不使用nmae来让选项互斥了

     -->
    <div id='app'>
        性别：
        <input type="radio" id="male" value="男" v-model="sex"><label for="male">男</label>
        <input type="radio"  id="womale" value="女" v-model="sex"><label for="womale">女</label>
        你选择的性别是： {{sex}}
    </div>

    <script>
        const app = new Vue({
            el: '#app',
            data: {
                sex: '男'
            }
        })
    </script>

</body>
</html>